__pycache__/
**/mpd/database
**/mpd/state
**/mpd/playlist/

**/eww/colors.scss
**/kitty/current-theme.conf
**/hypr/colors-hyprland.conf
**/mako/
**/rofi/theme.rasi
**/rofi/icon.png
**/fish/secrets.fish
**/waybar/colors.css
**/fish/fish_variables
