@import url("colors.css");

* {
  font-size: 16px;
  font-family: "DejaVuSansM Nerd Font";
  color: @color15;
}

window#waybar {
  background-color: #000;
}

#mpd, #cpu, #memory, #network, #window, #clock, #tray, #disk, #workspaces, #wireplumber {
    /* border-bottom: 4px solid @color15; */
    padding-left: 8px;
    padding-right: 8px;
}


#wireplumber {
  margin-right: 12px;
}

#mpd, #wireplumber {
  /* background-color: alpha(@color1, 0.5); */
  /* color: @color1; */
}

#network {
  color: @color2;
}

#disk {
  color: @color3;
}

#memory {
  color: @color4;
}

#cpu {
  color: @color5;
}

#clock {
  /* color: @color6; */
  margin-right: 8px;
}

#workspaces {
  margin-left: 8px;
}

#workspaces button.visible {
  /* color: @color3; */
  /* font-weight: bold; */
}

#workspaces button.active {
  /* color: @color2; */
  font-weight: bold;
}
