@import 'colors.scss'

$bg: $background;
$bg-light: $color8;
$text: $color15;

$fg-1: $color6;
$vol: $color5;

* {
  all: unset;
  font-family: Cousine Nerd Font;
  font-size: 24px;
  color: $text;
}

.dash {
  background-color: $bg;
  border-radius: 16px
}

.album_art {
	background-size: 250px 250px;
    background-repeat: no-repeat;
    background-color: $bg-light;
	min-height: 250px;
	min-width: 250px;
    border-radius: 16px;
	margin: 50px 20px 50px 20px;
}

.song {
	color: $fg-1;
	font-size: 36px;
	font-weight: bold;
	margin: 15px 0px 0px 0px;
}

.artist {
	color: $fg-1;
	font-size: 24px;
	font-weight: normal;
	margin: 0px 0px 8px 0px;
}

.music {
  margin: 6px;
}

.prev label {
	font-size: 48px;
	font-weight: normal;
}

.play label {
	color: $fg-1;
	font-size: 72px;
	font-weight: bold;
}
.next label {
	font-size: 48px;
	font-weight: normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $fg-1;
	border-radius: 16px;
}

.music_bar scale trough {
	all: unset;
	background-color: $bg-light;
	border-radius: 16px;
	min-height: 30px;
	min-width: 425px;
	margin: 0px 0px 0px 0px;
}

.song_progress {
    color: $fg-1;
    font-size: 24px;
}

.volume-icon label {
  margin: .2rem 0 .2rem 0;
  font-size: 24px;
  min-width: 36px;
  min-height: 36px;
  margin: 6px;
  color: $vol;
}

.volbar trough {
  all: unset;
  background-color: $bg-light;
  border-radius: 8px;
  min-height: 15px;
  min-width: 120px;
  margin: .3rem 0 .3rem 0;
}

.volbar trough highlight {
  background-color: $vol;
  border-radius: 8px;
}

.shuffle label, .repeat label, .single label {
  color: $text;
  font-size: 27px;
}

.on label {
    font-weight: bold;
    color: $fg-1;
}
