@import 'colors.scss'

$bg: $background;
$bg-light: $color8;
$text: $color15;

$fg-1: $color13;
$vol: $color5;

* {
  all: unset;
  font-family: Cousine Nerd Font;
  font-size: 24px;
  color: $text;
}

.dash {
  background-color: $bg;
  border-radius: 16px
}

.name-box {
  padding: 10px 0px;
}

.album_art {
	background-size: 240px 240px;
    background-repeat: no-repeat;
    background-color: $bg-light;
	min-height: 240px;
	min-width: 240px;
    border-radius: 16px;
	margin: 50px 20px 50px 20px;
}

.song {
	color: $fg-1;
	font-size: 32px;
	font-weight: bold;
	margin: 10px 0px 0px 0px;
}

.artist {
	color: $fg-1;
	font-size: 24;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
}

.music {
  margin: 4px;
}

.prev label {
	font-size: 48px;
	font-weight: normal;
}

.play label {
	color: $fg-1;
	font-size: 64;
	font-weight: bold;
}
.next label {
	font-size: 48;
	font-weight: normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: $fg-1;
	border-radius: 8px;
}

.music_bar scale trough {
	all: unset;
	background-color: $bg-light;
	border-radius: 8px;
	min-height: 20px;
	min-width: 380px;
	margin: 0px 0px 0px 0px;
}

.song_progress {
    color: $fg-1;
    font-size: 24px;
}

.volume-icon label {
  margin: .2rem 0 .2rem 0;
  font-size: 24px;
  min-width: 32px;
  min-height: 32px;
  margin: 8px;
  color: $vol;
}

.volbar trough {
  all: unset;
  background-color: $bg-light;
  border-radius: 5px;
  min-height: 10px;
  min-width: 100px;
  margin: .3rem 0 .3rem 0;
}

.volbar trough highlight {
  background-color: $vol;
  border-radius: 5px;
}

.shuffle label, .repeat label, .single label {
  color: $text;
  font-size: 27px;
  /* margin-right: -4px; */
  /* margin-bottom: -8px; */
}

.on label {
    font-weight: bold;
    color: $fg-1;
}
